* {
    margin: 0px;

}

body {
    background-image: url(/../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    display: flex;
}

.logo {
    width: 10%;
}