* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #182052;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    height: 80px;
    width: 100%;
    background-color: #7F95D1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.logo {
    width: 40px;
}

a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: #182052;
}

.active2 {
    height: 50px;
    width: 150px;
    background-color: #7F95D1;
    border-radius: 50px;
}

.tituloHeader {
    font-size: 20px;
}



ion-icon {
    color: white;
    font-size: 30px;
}



footer {
    margin-top: auto;
    height: 80px;
    width: 100%;
    background-color: #7F95D1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1px;

}