@import url(raiz.css);

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 350px);

}

.generos {
    margin-top: 30px;
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.vertical {
    border-left: 6px solid white;
    height: 70px;
}

.generos a {
    font-size: 20px;
    text-decoration: none;
}

.filmes1 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.filmes1 img {
    width: 180px;
    height: 280px;
}


.filme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filme p {
    margin-top: 10px;
}